@import url(http://fonts.googleapis.com/css?family=Sniglet|Raleway:900);


body, html{
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Sniglet', cursive;
	background-color: #60c5ba;
}
footer{
	text-align: center;
}
h1
{
	font-size: 32px;
	text-shadow: -1px -1px #0c0, 1px 1px #060, -3px 0 4px #000;
	font-family:Arial, Helvetica, sans-serif;
	color: #090;
	padding:16px;
	font-weight:lighter;
	-moz-box-shadow: 2px 2px 6px #888;  
	-webkit-box-shadow: 2px 2px 6px #888;  
	box-shadow:2px 2px 6px #888;  
	text-align:center;
	display:block;
	margin:16px;
	background-color: #519D9E;  
}

/* Animation webkit */
@-webkit-keyframes myfirst
{
	0% {margin-left: -235px}
	90% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

/* Animation */
@keyframes myfirst
{
	0% {margin-left: -235px}
	70% {margin-left: 100%;}
	100% {margin-left: 100%;}
}


.main_container {
	width: 60%;
	margin: 4em auto; }

	.titres_sections {
		text-align: center;
		margin: 2em 0 1em 0; }

		.block_header {
			display: inline-block;
			vertical-align: top; }

			.photo {
				width: 17%;
				padding-top: 0.4em; }
				.photo img {
					height: 7em;
					width: 7em;
					border-radius: 50%; }

					.title {
						width: 65%; }
						.title h1 {
							font-family: "Dosis", sans-serif;
							font-size: 3em;
							margin-top: 0;
							margin-bottom: 0em; }
							.title .soustitre_header {
								font-family: "Dosis", sans-serif;
								font-size: 2em;
								margin-top: 0;
								margin-bottom: 0.2em; }
								.title .infos_header {
									color: grey;
									font-weight: bold; }

									.pictos {
										text-align: right; }

										.presentation-paragraph {
											margin: 3em 0;
											width: 90%; }
											.presentation-paragraph .important_header {
												font-weight: bold;
												color: teal; }

												.container_menu {
													margin: 3em 0;
													width: 100%; }

													.container_menu ul {
														margin: 0;
														padding: 0;
														z-index: 100;
														border-top: 0; }
														.container_menu ul li {
															display: inline-block;
															list-style: none;
															margin: -0.2em;
															margin-top: 0;
															height: 2em;
															vertical-align: top;
															border-bottom: 0.1em solid grey; }
															.container_menu ul li a {
																color: grey;
																padding-left: 1em;
																padding-right: 1em;
																padding-bottom: 0.65em;
																text-decoration: none; }
																.container_menu ul .ugly_fix {
																	width: 8em; }

																	.container_menu .active {
																		font-weight: bold;
																		color: #2b2a2a;
																		border-bottom: 0.2em solid #2b2a2a; }
																		.container_menu .active a {
																			color: #2b2a2a; }

																			.sticky {
																				position: fixed;
																				top: 0;
																				z-index: 100;
																				background-color: #FFFFFF;
																				margin-top: 0;
																				padding-top: 2em; }

																				.titres_competences {
																					text-align: center; }

																					.ul_competences {
																						width: 80%;
																						margin: 0 auto; }

																						li {
																							list-style: none; }

																							.icon_competences {
																								text-align: center;
																								margin-top: 0;
																								margin-bottom: 0; }

																								.bloc-formation {
																									margin-top: 3em; }

																									.dates {
																										font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
																										display: inline-block;
																										width: 15%;
																										vertical-align: top;
																										margin-top: 0.5em;
																										margin-left: 0.2em;
																										font-weight: bold;
																										text-align: center;
																										height: 2em; }

																										.texte-formation {
																											display: inline-block;
																											margin-left: 1em;
																											width: 80%; }

																											h4 {
																												font-family: 'Dosis', sans-serif;
																												margin-top: 0;
																												margin-bottom: 0;
																												color: teal;
																												font-size: 1.2em; }

																												h5 {
																													font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
																													margin-top: 0.2em; }

																													.blocs_projets {
																														height: 20em;
																														opacity: 50%;
																														background-color: #FFFFFF;
																														height: 15em;
																														text-align: center;
																														padding-top: 6em;
																														border: 0.1em solid grey; }

																														/*# sourceMappingURL=style.css.map */

																														#menu{text-align: center;}
