body, html{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Sniglet', cursive;
	background-color: #F8F8FF;

	text-align: center;

}
#menu{text-align: center;}
h1
{

	font-size: 32px;
	text-shadow: -1px -1px #000, 1px 1px #000, -3px 0 4px #000;
	font-family:Arial, Helvetica, sans-serif;
	color: #a3a1a1;
	padding:16px;
	font-weight:lighter;
	-moz-box-shadow: 2px 2px 6px #888;  
	-webkit-box-shadow: 2px 2px 6px #888;  
	box-shadow:2px 2px 6px #888;  
	text-align:center;
	display:block;
	margin:16px;
	background-color: #D9D4CF;  
}
.prenom{
	
	

	

	letter-spacing: .10em;



	font-size: 32px;
	text-shadow:
	1px -1px 0 #767676,
	-1px 2px 1px #767474,

	font-family:Arial, Helvetica, sans-serif;
	color: #77919d;
	padding:16px;
	font-weight:lighter;
	-moz-box-shadow: 2px 2px 6px #888;  
	-webkit-box-shadow: 2px 2px 6px #888;  
	box-shadow:2px 2px 6px #888;  
	text-align:center;
	display:block;
	margin:16px;
	background-color: #D9D4CF;  

}
h3 
{
	color : #6C10B0;
	font-variant : small-caps;
	letter-spacing : 0.5em;
	font-size : 140%;
}
.avatar{border-radius:67px;box-shadow:0 1px 2px rgba(0,111,555,0.9); margin-top:10px;}
.willerce{text-align:center;margin:20px auto auto auto;max-width:520px;padding:0 20px}
li{list-style: none;}
footer {
	text-align: center;
	
}
