body{
	background-color: #60c5ba;
}
footer{
	text-align: center;
	
}
#menu{
	height: 160px;
	text-align: center;
	
	
}

h1{
	font-weight: normal;
	font-size: 4em;
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
	margin-top: 30px;
	width: 500px;
	color: #F90;
	text-align: center;

}
.willerce{text-align:center;margin:100px auto auto auto;max-width:520px;padding:0 20px}



.avatar{margin-bottom:35px;border-radius:67px;box-shadow:0 1px 2px rgba(0,0,0,0.9)}

/*.willerce{animation:fade-in;animation-duration:1s;-webkit-animation:fade-in 1s}*/



/* Animation webkit */
/*@-webkit-keyframes myfirst
{
	0% {margin-left: -235px}
	90% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

 Animation 
@keyframes myfirst
{
	0% {margin-left: -235px}
	70% {margin-left: 100%;}
	100% {margin-left: 100%;}
}
*/



/*#form{
	height: 100%;	
	background-color: #98d4f3;
	overflow: hidden;
	position: relative;

}
#menu{
	text-align: center;
}


#footericone{
	text-align:center;
	margin-bottom: 0px;
}

#aboutme{
	text-align: center;
}

*/

